[submodule "utils"]
	path = utils
	url = https://github.com/guilleatm/utils.git
[submodule "animations"]
	path = animations
	url = https://github.com/guilleatm/animations.git
[submodule "tilemap"]
	path = tilemap
	url = https://github.com/guilleatm/tilemap.git
